header {
  text-align: center;
  margin: 0 auto;
}

path.muliphen-m {
  /* fill: rgba(245, 217, 21, 1); */
  fill: rgba(255, 255, 255, 1);
}

path.muliphen-box {
  fill: rgba(255, 255, 255, 1);

  animation: blink-animation 3s steps(5, start) 1;
  -webkit-animation: blink-animation 3s steps(5, start) 1;
  animation-fill-mode: forwards;
}

path.muliphen-box.first {
  /* This just postpones blinking for 1-sec, then it's in sync with .blinky*/
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

path.muliphen-box.second {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

path.muliphen-box.third {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation: blink-animation-to-third 3s steps(5, start) 1;
  -webkit-animation: blink-animation-to-third 3s steps(5, start) 1;
  animation-fill-mode: forwards;
}

path.muliphen-box.fourth {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  animation: blink-animation-to-fourth 3s steps(5, start) 1;
  -webkit-animation: blink-animation-to-fourth 3s steps(5, start) 1;
  animation-fill-mode: forwards;
}

path.muliphen-box.fifth {
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation: blink-animation-to-full 3s steps(5, start) 1;
  -webkit-animation: blink-animation-to-full 3s steps(5, start) 1;
  animation-fill-mode: forwards;
}

@keyframes blink-animation {
  to {
    fill: rgba(245, 217, 21, 0.7);
  }
}

@-webkit-keyframes blink-animation {
  to {
    fill: rgba(245, 217, 21, 0.7);
  }
}

@keyframes blink-animation-to-full {
  to {
    fill: rgba(245, 217, 21, 1);
  }
}

@-webkit-keyframes blink-animation-to-full {
  to {
    fill: rgba(245, 217, 21, 1);
  }
}

@keyframes blink-animation-to-third {
  to {
    fill: rgba(245, 217, 21, 0.2);
  }
}

@-webkit-keyframes blink-animation-to-third {
  to {
    fill: rgba(245, 217, 21, 0.2);
  }
}

@keyframes blink-animation-to-fourth {
  to {
    fill: rgba(245, 217, 21, 0.4);
  }
}

@-webkit-keyframes blink-animation-to-fourth {
  to {
    fill: rgba(245, 217, 21, 0.4);
  }
}
@font-face {
  font-family: 'roboto mono';
  src: url(fonts/roboto_mono/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: 'roboto mono light';
  src: url(fonts/roboto_mono/RobotoMono-Light.ttf);
}

.roboto-mono {
  font-family: roboto mono, monospace;
}

.roboto-mono-light {
  font-family: roboto mono light, monospace;
}

body {
  font-family: roboto mono, monospace;
}

body > section {
  text-align: center;
}

ul {
  list-style-type: none;
}

section.contact {
}

.avatar-wrap {
  width: 50%;
  display: inline;
}

.avatar {
  border-radius: 2px;
  height: 165px;
  width: 165px;
}

.avatar-name {
  display: block;
}

.contact-details {
  font-family: 'roboto mono light';
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.contact-details .contact-key {
  font-size: smaller;
  font-weight: 900;
}

.contact-details .contact-value {
  font-size: smaller;
  font-weight: 300;
}

.heart {
  display: inline;
  font-size: 1.4em;
  color: rgba(255, 121, 198, 0.7);
  transform: rotate(2deg);

  animation: heart-beat 1s infinite alternate;
  -webkit-animation: heart-beat 1s infinite alternate;
  transform-origin: center;
}

@keyframes heart-beat {
  to {
    transform: scale(1.4);
  }
}

@-webkit-keyframes heart-beat {
  to {
    transform: scale(1.4);
  }
}

.signature {
  position: absolute;
  font-size: 10px;
  bottom: 0;
  right: 10px;
}

section.background {
  position: fixed;
  top: 0;
  left: 55%;
  overflow: hidden;
  width: 100vw;
  height: 50vw;
  z-index: -1;
}
